<!DOCTYPE html>
<html data-ng-app="ControladorFiltros">
<head>
    <title>Frontend AngularJS</title>

     <!--Logo Pestana Página-->
    <link rel="icon" href="images/imagen.png">

     <!--Implementación Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    
    <!--Implementación Bootstrap JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
	<!--IMAGEN Y TITULO-->
	<div class="container">
		<div class="row-fluid">
			<div class="col-md-2">
				<img src="images/icono.png" alt="imagen"/>
			</div>
		</div>

		<div class="col-md-10">
			<h1 class="titulo">Filtrado Music</h1>
		</div>
		
		<!--BUSCADOR DE DATOS-->
		<div class="container">
	    	<div class="row-fluid">
	    		<div class="col-md-12">
	    			<div>
	    			<hr>
				        <div class="panel panel-primary">
				            <div class="panel-heading">
				                <div class="input-group">
				                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				                    <input type="text" class="form-control" placeholder="Buscardor" data-ng-model="buscador">
				                </div>
				            </div>
				        </div>
				</div>
			</div>
		</div>

		<!--INICIO DE TABLA-->
		<div class="row-fluid" data-ng-controller="filtrosCtrl as filtros">
			<div class="col-md-12">
	            <div class="panel-body table-responsive" >
	                <table class="table table-hover">
	                    <thead>
                        <tr class="cel">
                            <th class="active"><span class="glyphicon glyphicon-music" style="cursor:pointer" data-ng-click="ordenPor('-name')"></span><a href="" data-ng-click="ordenPor('name')"> Cancion</a></th>	 
                                                       
                            <th class="active"><span class="glyphicon glyphicon-user" style="cursor:pointer" data-ng-click="ordenPor('-artist.name')"></span><a href="" data-ng-click="ordenPor('artist.name')"> Artista</a></th>

                            <th class="active"><span class="glyphicon glyphicon-dashboard" style="cursor:pointer" data-ng-click="ordenPor('-duration')"></span><a href="" data-ng-click="ordenPor('duration')"> Duracion</a></th>

                            <th class="active"><span class="glyphicon glyphicon-cd" style="cursor:pointer" data-ng-click="ordenPor('-playcount')"></span><a href="" data-ng-click="ordenPor('playcount')"> Playcount</a></th>

                            <th class="active"><span class="glyphicon glyphicon-file" style="cursor:pointer" data-ng-click="ordenPor('-listeners')"></span><a href="" data-ng-click="ordenPor('listeners')"> Listeners</a></th>

                            <th class="active"><span class="glyphicon glyphicon-picture" style="cursor:pointer" data-ng-click="ordenPor('-image)"></span><a href="" data-ng-click="ordenPor('image')"> Album</a></th>
                        </tr>
	                    </thead>
	                    

	                <!--SECCION DE FILTRACION DE DATOS-->
	                <div class="row-fluid">
	                   <div class="col-md-12"></div>
	                    <tbody>
	                        <tr ng-repeat="datos in informacion | orderBy:ordenSeleccionado | filter:buscador">
	                            <td class="active" class="col-md-2">{{datos.name}}</td>
	                            <td class="active" class="col-md-2">{{datos.artist.name}}</td>
	                            <td class="active" class="col-md-2">{{datos.duration *1000 | date: 'mm:ss'}}</td>
	                            <td class="active" class="col-md-2">{{datos.playcount}}</td>
	                            <td class="active" class="col-md-2">{{datos.listeners}}</td>
	                            <td class="active" data-ng-show="{{datos.image[1]}}"><img data-ng-src="{{datos.image[1] | Url}}" class="img-thumbnail"></td>
	                            <td class="active" data-ng-show="!{{datos.image[1]}}"><img src="images/disco.png" /></td>
	                        </tr>
	                    </tbody>
	                </div>
	                </table>
	          	</div>
	        </div>
	    </div>
    </div>
</body>
</html>